version: '3.8'
services:
  redis:
    image: redis:alpine
    networks:
      - app-net

  mysql:
    image: mysql:latest
    environment:
      MYSQL_ROOT_PASSWORD: 123456
      MYSQL_DATABASE: account_db
    networks:
      - app-net

  account-backend:
    image: crpi-htkfq5l5wrjuxyeh.cn-hangzhou.personal.cr.aliyuncs.com/wyzproject/account-backend:latest
    ports:
      - '3000:3000'
    environment:
      REDIS_HOST: redis
      DB_HOST: mysql
      DB_USER: root
      DB_PASSWORD: 123456
    depends_on:
      - redis
      - mysql
    networks:
      - app-net

networks:
  app-net:
