version: '3.8'
services:
  redis:
    image: redis:alpine
    networks:
      - app-net

  mysql:
    image: mysql:latest
    environment:
      MYSQL_ROOT_PASSWORD: 123456
      MYSQL_DATABASE: account_db
    networks:
      - app-net

  account-backend:
    build:
      context: ./
      dockerfile: ./Dockerfile
    ports:
      - 3000:3000

    depends_on:
      - redis
      - mysql
    networks:
      - app-net

networks:
  app-net:
    driver: bridge
